@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #b3cdd1;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
}

.clock {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 200px;
    margin: 15% auto 0;
    color: #B5E6E5;
    background-color: #d387ab;
    background-image: linear-gradient(315deg, #d387ab 0%, #b279a7 74%);
    border-radius: 25px;
    opacity: 0.9;
    box-shadow: 0px 0px 10px 0px grey;
    

    &__info {
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__time {
        display: block;
        text-align: center;
        font-size: 48px;
    }

    &__dots {
        padding-top: 7px;
        font-size: 54px;
    }
}

.deadline-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    margin: 10px auto 0;
    padding: 0 20px;
    color: #B5E6E5;
    background-color: #d387ab;
    background-image: linear-gradient(315deg, #d387ab 0%, #b279a7 74%);
    border-radius: 10px;
    opacity: 0.9;
    box-shadow: 0px 0px 10px 0px grey;

    &__input {
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__submit-btn {
        width: 100%;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: #2b2a2a;
        border-radius: 5px;
        color: #b279a7;
        box-shadow: 0px 0px 10px 0px grey;
    }
}




